<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link href="../css/styles.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            
            <div class="col-md-6">
                <div id="productCarousel" class="carousel slide mb-5 mb-md-0" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../img/232228_BU_1yf.webp" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../img/red-bag-view1.webp" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../img/red-bag-view2.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-506</div>
                <h1 class="display-5 fw-bolder">ALJA RED</h1>
                <div class="fs-5 mb-5">
                    <span>25.00 BAM</span>
                </div>
                <p class="lead">This elegant burgundy handbag showcases a rich, textured fabric paired with a wood-like clasp.
                    Its compact design offers enough space for your daily essentials while maintaining a chic, modern look.
                    Perfect for both casual and formal occasions, this versatile accessory adds a stylish and outgoing  
                    touch to any outfit.</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi bi-cart-fill me-1" aria-hidden="true"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
