<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link href="../css/styles.css" rel="stylesheet" />

<section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <!-- Product image -->
                    <img class="card-img-top mb-5 mb-md-0" src="../img/232228_BU_1yf.webp" alt="..." />
                </div>
                <div class="col-md-6">
                    <div class="small mb-1">SKU: BST-502</div>
                    <h1 class="display-5 fw-bolder">ALJA RED</h1>
                    <div class="fs-5 mb-5">
                        <span>25.00 BAM</span>
                    </div>
                    <p class="lead">
                        This elegant burgundy handbag showcases a rich, textured fabric paired with a wood-like clasp.
                        Its compact design offers enough space for your daily essentials while maintaining a chic, modern look.
                        Perfect for both casual and formal occasions, this versatile accessory adds a stylish and sophisticated 
                        touch to any outfit.
                    </p>
                    <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>