<section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <!-- Product image -->
                    <img class="card-img-top mb-5 mb-md-0" src="assets/img/images.jpeg" alt="ALJA BLACK" />
                </div>
                <div class="col-md-6">
                    <div class="small mb-1">SKU: BST-502</div>
                    <h1 class="display-5 fw-bolder">ALJA BROWN</h1>
                    <div class="fs-5 mb-5">
                        <span class="text-muted text-decoration-line-through">$20.00</span>
                        <span>$18.00</span>
                    </div>
                    <p class="lead">
                        This elegant brown suede bag combines timeless style with soft, luxurious texture. 
                        Its rich earthy tone makes it a versatile accessory for any season. Pair it with denim for 
                        a casual day look or with a tailored coat for evening sophistication. 
                        The spacious interior and refined design make it both practical and effortlessly chic.
                    </p>
                    <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>